* {
  margin: 0;
  padding: 0;
}

:root {
  --rich-blk: #090e20;
  --st-patricks-blue: #1d2f6fff;
  --cornflower-blue: #8390faff;
  --maize-crayola: #fac748ff;
  --lavender-blush: #f9e9ecff;
  --tickle-me-pink: #f88dadff;
}

/* header styling */
header {
    width: 100%;
    height: 90px;
    background-color: var(--st-patricks-blue);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 55px;
    color: var(--lavender-blush);

}

.nav {
    width: auto;
}

.navActive {
    font-weight: bold;
    color: var(--tickle-me-pink)
}

.nav-list {
    margin-right: 55px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--lavender-blush)
}

.nav-list li {
    margin: 15px;
    cursor: pointer;
  }

  .nav-list li:hover {
    color: var(--maize-crayola)
  }

/* about me styling */
.aboutHeader {
  display: flex;
}

.aboutHeader img {
  margin-left: 50px;
}


/* main body styling */
section {
  padding: 18px 48px;
  margin: 0 auto;
  color: var(--rich-blk);
}

section h1 {
  font-weight: bold;
}

section p {
  margin: 25px auto;
  line-height: 1.5em;
}

.profile-photo {
  height: auto;
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 12px 12px 45px 5px var(--rich-blk);
  border: 3px solid var(--rich-blk)
}

p a {
  text-decoration: none;
  color: var(--cornflower-blue);
  font-weight: bolder;
}

p a:hover {
  color: var(--maize-crayola);
}

/* contact form styling */
#contact-form button {
  margin: 10px 0px;
  padding: 0.4em 1.25em;
  border: 0.1em solid var(--rich-blk);
  border-radius:0.2em;
  background-color: var(--lavender-blush);
  font-weight: bold;
}

#contact-form button:hover, #contact-form button:focus{
 transform: scale(1.1);
 background-color: var(--tickle-me-pink);
}

#contact-form {
  padding: 40px 25px 40px 25px;
  width: 75%;
}

#contact-form label {
  display: block;
  font-weight: bold;
}

#contact-form input {
  width: 100%;
  height: 25px;
}

#contact-form textarea {
  width: 100%;
}

.error-text {
  color: var(--tickle-me-pink);
  font-weight: bold;
}

/* resume page styling */
.skillList {
  column-count: 2;
}
/* portfolio styling */
#applicationCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.applicationCard {
  width: 390px;
  height: 260px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.applicationCard .applicationBackground {
  width: 100%;
  height: 100%;
  transition: opacity .75s ease-in-out;
  position: absolute;
}

.applicationLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.applicationLinks .applicationLogo {
  height: 24px;
  margin: 2px 10px 0px;
}

.applicationText {
  padding: 5px;
  position: absolute;
  opacity: 0;
  z-index: 50;
  transition: opacity .5s ease-in-out;
}

.applicationCard:hover .applicationBackground {
  opacity: .2;
}
.applicationCard:hover .applicationText {
  opacity: 1;
}

.applicationText p {
  margin: 0;
  color: var(--cornflower-blue)
}

.applicationText a {
  text-decoration: none;
  color: var(--cornflower-blue);
}

.applicationText a:hover {
  color: var(--maize-crayola);
}

.applicationLogo:hover {
  background-color: var(--tickle-me-pink);
  border-radius: 75%;
}
/* footer styling */
footer {
  width: 100%;
  height: 66px;
  background-color: var(--rich-blk);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  opacity: .3;
}

footer:hover {
  opacity: .8;
  transition: opacity .75s ease-in-out;
  background-color: var(--rich-blk);
}

footer p {
  color: var(--lavender-blush)
}

#logos {
  height: 55%;
}

#logos img {
  height: 100%;
  background-color: none;
  margin: 1px 10px;
  transition: ease-in-out;
}

#logos img:hover {
  opacity: 1;
  background-color: var(--maize-crayola);
  border-radius: 50%;
}