* {
  margin: 0;
  padding: 0;
}

:root {
  --rich-blk: #090e20;
  --st-patricks-blue: #1d2f6fff;
  --cornflower-blue: #8390faff;
  --maize-crayola: #fac748ff;
  --lavender-blush: #f9e9ecff;
  --tickle-me-pink: #f88dadff;
}

/* header styling */
header {
  width: 100%;
  height: 90px;
  background-color: var(--st-patricks-blue);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 40px;
  color: var(--lavender-blush);
  text-shadow: 3px 3px 2px var(--rich-blk);
}

@media screen and (max-width: 500px) {
  header h1 {
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
  }
}

.nav {
  width: auto;
}

.nav ul {
  width: 100%;
}

.navActive {
  font-weight: bold;
  color: var(--tickle-me-pink);
}

.nav-list {
  margin-right: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--lavender-blush);
  background-color: var(--st-patricks-blue);
  width: 100%;
}

.nav-list li {
  margin: 10px;
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 2px var(--rich-blk);
}

.nav-list li:hover {
  color: var(--maize-crayola);
}

/* about me styling */
.aboutHeader {
  display: flex;
}

.aboutHeader img {
  margin-top: 12px;
  margin-left: 25px;
}

/* main body styling */
section {
  padding: 18px 48px;
  margin: 0 auto;
  color: var(--rich-blk);
  height: 100vh;
}

section h1 {
  font-weight: bold;
  padding-top: 15px;
  text-shadow: 2px 2px 3px var(--lavender-blush);
}

section p {
  margin: 25px auto;
  line-height: 1.5em;
}

.profile-photo {
  height: auto;
  max-width: 200px;
  border-radius: 100%;
  box-shadow: 12px 12px 45px 5px var(--rich-blk);
  border: 3px solid var(--rich-blk);
}

p a {
  text-decoration: none;
  color: var(--rich-blk);
  font-weight: bolder;
}

p a:hover {
  color: var(--maize-crayola);
}

/* contact form styling */
#contact-form button {
  margin: 10px 0px;
  padding: 0.4em 1.25em;
  border: 0.1em solid var(--rich-blk);
  border-radius: 0.2em;
  background-color: var(--lavender-blush);
  font-weight: bold;
}

#contact-form button:hover,
#contact-form button:focus {
  transform: scale(1.1);
  background-color: var(--tickle-me-pink);
}

#contact-form {
  padding: 40px 25px 40px 25px;
  width: 75%;
}

#contact-form label {
  display: block;
  font-weight: bold;
}

#contact-form input {
  width: 100%;
  height: 25px;
}

#contact-form textarea {
  width: 100%;
}

.error-text {
  color: var(--tickle-me-pink);
  text-shadow: 2px 2px var(--rich-blk);
  font-weight: bold;
}

/* resume page styling */
.skillList {
  column-count: 2;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 25px;
}

iframe {
  width: 100%;
  height: 100%;
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* portfolio styling */
#applicationCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 12px;
  padding-bottom: 70px;
}

.applicationCard {
  width: 390px;
  height: 260px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.applicationCard .applicationBackground {
  width: 100%;
  height: 100%;
  transition: opacity 0.75s ease-in-out;
  position: absolute;
  border: 3px solid var(--lavender-blush);
  border-style: ridge;
  box-shadow: 3px 3px 2px var(--rich-blk);
}

.applicationLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.applicationLinks .applicationLogo {
  height: 24px;
  margin: 2px 10px 0px;
}

.applicationText {
  padding: 5px;
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: 50;
  transition: opacity 0.5s ease-in-out;
}

.applicationCard:hover .applicationBackground {
  opacity: 0.1;
}
.applicationCard:hover .applicationText {
  opacity: 1;
}

.applicationText p {
  margin: 0;
  color: var(--rich-blk);
  padding: 5px;
}

.applicationText a {
  text-decoration: none;
  color: var(--rich-blk);
}

.applicationText a:hover {
  color: var(--maize-crayola);
}

.applicationLogo:hover {
  background-color: var(--tickle-me-pink);
  border-radius: 75%;
}
/* footer styling */
footer {
  width: 100%;
  height: 65px;
  background-color: var(--rich-blk);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  opacity: 0.6;
}

footer:hover {
  opacity: 0.9;
  transition: opacity 0.75s ease-in-out;
  background-color: var(--rich-blk);
}

footer p {
  color: var(--lavender-blush);
}

#logos {
  height: 55%;
}

#logos img {
  height: 100%;
  background-color: none;
  margin: 1px 10px;
  transition: ease-in-out;
}

#logos img:hover {
  opacity: 1;
  background-color: var(--maize-crayola);
  border-radius: 50%;
}
